@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');
@import "~aos/dist/aos.css";
@import './jBox.all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-mul {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.max-w-1\/2 {
    max-width: 50%;
}

body {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1.12rem;

    overflow-x: hidden;
}

#dropdown {
    z-index: 99;
}

.focus\:shadow-none {
    box-shadow: none !important;
}

.active~#dropdown {
    opacity: 1;
    transform: scale(1);
}

.collapse:not(.show) {
    display: none;
}

.collapse:not(.show).expand {
    display: inherit;
}

.collapse.show.expand {
    transform: rotate(180deg);
}

.collapsing:not(.expand) {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all .35s ease;
}

.collapsing.expand {
    transform: rotate(180deg);
    transition: transform .35s ease;
}

.child-link-blue>a {
    color: #007bff;
}

.sticky-wrapper.is-sticky .site-navbar {
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.sticky-wrapper .shrink {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.sticky-wrapper.is-sticky .site-navbar a {
    color: #000;
}

.icon-wrap {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #7971ea;
    flex-shrink: 0;
}

.icon-wrap.small {
    width: 24px;
    height: 24px;
}

.icon-wrap .icon,
.icon-wrap-big .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: .8rem;
}


.icon-wrap-big {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #615dc2;
    flex-shrink: 0;
}

.shadow-full {
    box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.2);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.h-12-imp {
    height: 3rem !important;
}

.h-auto {
    height: auto;
}

.footer-heading {
    font-size: .9rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 1.5rem;
    font-weight: 900;
}

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.sticky-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.text-xxs {
    font-size: 0.675rem;
}

.course .course-price {
    position: absolute;
    padding: 10px 15px;
    background: #7971ea;
    color: #fff;
    top: -20px;
    right: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

input[type="number"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="date"]:focus, textarea:focus {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
    --border-opacity: 1;
    border-color: #cbd5e0;
    border-color: rgba(203, 213, 224, var(--border-opacity));
}

input,
textarea {
    border: 1px solid #cccccc;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 0.875rem;
}

.ui-widget {
    padding: 0;
}

.expand~.title-expand {
    color: red;
}


.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.nav-link.active {
    --tw-text-opacity: 1;
    color: rgba(37, 99, 235, var(--tw-text-opacity));
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(37, 99, 235, var(--tw-border-opacity));
}

.nav-link.active svg {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
}

.marker\:text-xxs ::marker {
    font-size: 0.5rem;
    line-height: 1rem;
}


.list-col-2 li {
    width: calc(50% - (2.4rem / 2));
}

.h-112 {
    height: 26rem;
}

.bg-f {
    background: #3b5998;
}

.bg-gp {
    background: #db4a39;
}

.bg-tw {
    background: #00acee;
}

.bg-wa {
    background: #075e54;
}


.color-f {
    color: #3b5998;
}

.color-gp {
    color: #db4a39;
}

.color-tw {
    color: #00acee;
}

.color-wa {
    color: #075e54;
}

.border-f {
    border-color: #3b5998;
}

.border-gp {
    border-color: #db4a39;
}

.border-tw {
    border-color: #00acee;
}

.border-wa {
    border-color: #075e54;
}


.rating-input {
    float: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    position: relative;
}

.rating-input span label::before {
    content: 'star_border';
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s;
}

.rating-input span:hover~span label::before, .rating-input span:hover label::before, .rating-input span.checked label::before, .rating-input span.checked~span label::before {
    color: #ff5000;
    content: 'star';
}

.rating-input:checked span label::before {
    color: #ff5000;
    content: 'star';
}

.rating-input span input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.rating-input span {
    float: right;
    position: relative;
    cursor: pointer !important;
}


.placeholder-gray-500::placeholder {
    color: #a0aec0;
}

.placeholder-text-sm::placeholder {
    font-size: 0.875rem;
}

.input {
    font-size: 0.75rem;
    line-height: 1rem;
}

.invalid-feedback {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity));
}

span.rating-stars {
    position: relative;
}

span.rating-stars, span.rating-stars span {
    display: block;
    background: url("/images/star.svg") 0 0 repeat-x;
    width: 90px;
    /* width of a star multiplied by 5 */
    height: 18px;
    /* the height of the star */
    background-size: 18px 18px;
}

span.rating-stars span {
    background: url("/images/star_fill_space.svg") 0 0 repeat-x;
    background-size: 18px 18px;
}


.tab-panel {
    cursor: pointer;
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
}

.tabs-content>div {
    display: none;
}

.tabs-content>div.active {
    top: 0;
    display: inherit;

}

.tabs-content-vertical>div {
    display: none;
}

.tabs-content-vertical>div.active {
    bottom: inherit;
    top: inherit;
    display: inherit;
}

.tab-panel.active {
    background: #fff !important;
}


.input-desc {
    font-size: 0.875rem;
    font-style: italic;
}

.child-mx-2>* {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.child-mx-4>* {
    margin-left: 1rem;
    margin-right: 1rem;
}

.m-0-imp {
    margin: 0 !important;
}

.child-my-2>*:not(:first-child) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    color: #4299e1;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1.5px;
    border-radius: 0.25rem;
}

.form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentcolor;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
    position: relative;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
    left: 50%;
    top: 15000%;
    transform: translate(-50%, -50%);
}

.dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
}

.dot-flashing::before {
    left: -0.5rem;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 0.5rem;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: 1s;
}

@keyframes dotFlashing {
    0% {
        /* background-color: #9880ff; */
        opacity: 1;
    }

    50%,
    100% {
        /* background-color: #ebe6ff; */
        opacity: 0.5;
    }
}
